.dotPoker {
  padding-bottom: 80px; }
  .dotPoker .btn-primary {
    background: #004272;
    border-color: #FFFFFF;
    color: #FFFFFF; }
    .dotPoker .btn-primary:hover {
      background: #97bf0d; }
  .dotPoker .btn-header {
    background: #004272;
    border-color: #FFFFFF;
    color: #FFFFFF; }
    .dotPoker .btn-primary:hover {
      background: #97bf0d; }
  

