.table {
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    justify-content: space-evenly;
    background-color: #0085cd33;
    border-radius: 10px; /*UXPIN design*/
    width: 90%;
    min-width: 350px;
    height: 100%;
    margin-left: 2%;
    margin-right: 3%;
}