.table {
    display: flex;
    justify-content: center;
    align-content: center;
    align-self: center;
    background-color: #0085cd33;
    border-radius: 10px;
    margin: 5;
    width: 90%;
    height: 50%;
    aspect-ratio: '1/2';

}