.cardWrapper {
    text-align: center;
    align-content: space-evenly;
    flex-wrap: wrap;
}

.card {
    display: flex;
    justify-content: center;
    align-content: space-evenly;
    border: 1px solid #0085cd;
    border-radius: 10px;
    width: 30px;
    margin: 5;
}