<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>

  <%- include ("../partials/nav.ejs") %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/lang-logo.png">
    </a>
    <h1>Planning Poker for agile teams</h1>
    <br>

    <br>
    <a type="button" class="btn btn-lg btn-createGame" href="https://devcenter.heroku.com/articles/getting-started-with-nodejs"><span class="glyphicon glyphicon-flash"></span>Create new game</a>
  </div>
</div>
<div class="footer">

</div>
</body>
</html>
